language: java
jdk: oraclejdk8
dist: trusty
sudo: false
before_install:
  - if [ -n "$encrypted_7726a8800684_key" ]; then openssl aes-256-cbc -K $encrypted_7726a8800684_key -iv $encrypted_7726a8800684_iv -in .travis/settings_codesigning.tar.enc -out .travis/settings_codesigning.tar -d; tar xf .travis/settings_codesigning.tar -C .travis; fi
  - if [ -f .travis/codesigning.asc ]; then gpg --fast-import .travis/codesigning.asc; fi
install: true
script:
  - mvn clean test -B
deploy:
  - provider: script
    script: mvn clean deploy -P release -B --settings .travis/settings.xml
    skip_cleanup: true
    on:
      branch: develop
